{% extends 'base.html.twig' %}

{% block title %}New Referent{% endblock %}

{% block body %}
    <h1>Create new Referent</h1>

    {{ include('front/referent/_form.html.twig') }}

    <a href="{{ path('referent_index') }}">back to list</a>
{% endblock %}
