{% extends 'base.html.twig' %}

{% block title %}Ajouter un prof. princpal{% endblock %}

{% block body %}
    <h1>Ajouter un prof. princpal</h1>

    {{ include('front/referent/_form.html.twig') }}

    <a href="{{ path('referent_index') }}">retour</a>
{% endblock %}
