

{% block title %}BACCALAUREAT PROFESSIONNEL SYSTEMES NUMERIQUES{% endblock %}

{% block body %}

<header>
    <h1>Epreuve E3: dsfdsffsdfd</h1>
    <h2> Sous epreuve E31: dfgsdfsdfsdf </h2>
</header>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">dgdf</th>
      <th scope="col">dfg</th>
      <th scope="col">dgf</th>
      <th scope="col">dfg</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">dgfdg</th>
      <td>dfgf</td>
      <td>dfgf</td>
      <td>dfg</td>
    </tr>
    <tr>
      <th scope="row">dfgfdg</th>
      <td>dfgf</td>
      <td>dfgfd</td>
      <td>dgf</td>
    </tr>
    <tr>
      <th scope="row">gdfgd</th>
      <td>dfgf</td>
      <td>dfgd </td>
      <td>dfgdfg</td>
    </tr>
  </tbody>
</table>

{% endblock %}
