<html>
    <head>
        <style>
        table{
            table-layout: auto;
            width: 100%;
            border-collapse: collapse;
         }

         thead{
            text-align: center;
            border-style: solid;
         }

        th{
            height: 7em;
            
        }


         #recap-note{
             background-color: white;
         }

         #note{
             width: 5em;
         }
        </style>
    </head>
    <div style="text-align: center;">
        <div>
            <div>
                <h1>MINISTÈRE DE L’ÉDUCATION NATIONALE DE L’ENSEIGNEMENT SUPÉRIEUR ET DE LA RECHERCHE</h1>
            </div>
            <h2 style="text-align: left;">Épreuve E3 : Épreuve de pratique professionnelle</h2>
            <h3>Sous épreuve E31 : Situations de travail spécifiées et réalisées en milieu professionnel</h3>
            
            <div>
                <p>Documents de suivi et d’évaluation. Ce document est à compléter par l’équipe pédagogique.Il permet d’effectuer le suivi et l’évaluation du candidat en établissement de formation. Il doit être mis à la disposition du jury.</p>
            </div>

        </div>
    
        <div style="display: flex; flex-direction: row-reverse; text-align: left;">
            <ul>
                <li>Académie : {{ student.school.academy }}</li>
                <li>Etablissement : Les Maçons du Dimanche</li>
                <li>Nom : {{ student.firstname }}</li>
                <li>Prenom : {{ student.lastname }}</li>
                <li>Date : 01/01/2019</li>
            </ul>
        </div>

        <div>
            <h4>1ère partie de l’évaluation (coef. 1,5) : situations de travail effectuées en entreprise</h4>
        </div>
        <div>
            <p>
                "Cette partie concerne l’évaluation des compétences mises en œuvre lors de la réalisation d’activités découlant de la contractualisation entre l’établissement de formation et l’entreprise. L’évaluation s’effectue au cours des périodes de formation en entreprise et porte sur des situations de travail réalisées par le candidat.  "				
            </p>
        </div>
    
        <div>
            <table style="border-style: solid;">
                <thead style=" display: table-row-group; background-color: #212529;">
                    <tr>
                        <th style="text-align: left; border-bottom-style: solid;border-right-style: solid;"><span style="color:white;"> Intitulé du TP : </span></th>
                        <th style="border-bottom-style: solid;border-right-style: solid;"><span style="color: white;">A</span></th>
                        <th style="border-bottom-style: solid;border-right-style: solid;"><span style="color:white;">A</span></th>
                        <th style="border-bottom-style: solid;border-right-style: solid;"><span style="color:white;">AP</span></th>
                        <th style="border-bottom-style: solid;border-right-style: solid;"><span style="color:white;">NA</span></th>
                        <th style="border-bottom-style: solid;border-right-style: solid;"><span style="color:white;">NO</span></th>
                        <th  style="border-bottom-style: solid;"colspan="3" ><span style="color:white;">Niveau d'autonomie</span></th>
                    </tr>
                        <tr>
                            <th style="text-align: left; border-right-style: solid;"><span style="color:white;">A: Acquis - AP: Acquis partiellement - NA: non acquis - NO: non observé</span></th>
                            <th style="border-right-style: solid;"><span style="color:white;">Très bien</span></th>
                            <th style="border-right-style: solid;"><span style="color:white;">Satisfaisant</span></th>
                            <th style="border-right-style: solid;"><span style="color:white;">Insuffisant</span></th>
                            <th style="border-right-style: solid;"><span style="color:white;">Très insuffisant</span></th>
                            <th style="border-right-style: solid;"><span style="color:white;">Non mis en oeuvre</span></th>
                            <th style="border-right-style: solid;"><span style="color:white;">Autonomie complète</span></th>
                            <th style="border-right-style: solid;"><span style="color:white;">Aide partielle</span></th>
                            <th><span style="color:white;">Aide totale</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="border-style: solid;">
                        <th style="background-color: #007bff; text-align: left; border-top-style: solid;border-bottom-style: solid;" >C3-2 Réaliser l’intégration matérielle ou logicielle d’un équipement</th>
                        <td style="border-style: solid;"></td>
                        <td style="border-style: solid;"></td>
                        <td style="text-align: center; border-style: solid;">x</td>
                        <td style="border-style: solid;"></td>
                        <td style="border-style: solid;"></td>
                        <td style="border-style: solid;"></td>
                        <td style="text-align: center; border-style: solid">x</td>
                        <td style="border-style: solid;"></td>
                    </tr>
                    <tr>
                        <th style="text-align: left;border-bottom-style: solid;border-top-style: solid;">L’assemblage mécanique et les connections sont réalisés en respectant les procédures d’assemblage et les règles de sécurité</th>
                        <td style="border-style: solid;"></td>
                        <td style="border-style: solid;"></td>
                        <td style="text-align: center; border-style: solid;">x</td>
                        <td style="border-style: solid;"></td>
                        <td style="border-style: solid;"></td>
                        <td style="border-style: solid;"></td>
                        <td style="text-align: center; border-style: solid;">x</td>
                        <td style="border-style: solid;"></td>
                    </tr>
                    <tr>
                        <th style="text-align: left;border-bottom-style: solid;">Les logiciels sont installés, configurés et paramétrés en respectant les procédures en vigueur</th>
                        <td style="border-style: solid;"></td>
                        <td style="border-style: solid;"></td>
                        <td style="border-style: solid;"></td>
                        <td style="border-style: solid;"></td>
                        <td style="text-align: center; border-style: solid;">x</td>
                        <td style="border-style: solid;"></td>
                        <td style="text-align: center; border-style: solid;">x</td>
                        <td style="border-style: solid;"></td>
                    </tr>
                    <tr>
                        <th style="text-align: left;">Les choix d’installation sont justifiés</th>
                        <td style="border-style: solid;"></td>
                        <td style="border-style: solid;"></td>
                        <td style="text-align: center; border-style: solid;">x</td>
                        <td style="border-style: solid;"></td>
                        <td style="border-style: solid;"></td>
                        <td style="border-style: solid;"></td>
                        <td style="border-style: solid;"></td>
                        <td style="text-align: center; border-style: solid;">x</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <table>
                <thead>
                    <th style="border-right-style: solid;">Observation de l'équipe pédagogique</th>
                    <th>Visa (Nom, Prénom, date, signature)</th>
                </thead>
                <tbody>
                    <tr style="border-style: solid;">
                        <td style="border-style: solid; height: 10em;"><span style="display: hidden;">t</span></td>
                        <td style="border-style: solid; height: 10em;"><span style="display: hidden;">t</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div>
            <h4>2ème partie de l’évaluation (coef. 0,5) : dossier de synthèse constitué par le candidat</h4>
        </div>
        
        <div>
            <p>Cette partie concerne l’évaluation des parties constitutives du dossier de synthèse élaboré par le candidat.</p>
        </div>

        <div>
            <table style="margin: auto; border-style: solid; padding-right: 0.5em;">
                <thead style=" display: table-row-group; background-color: #212529;">
                    <tr style="color: white;">
                        <th style="padding-right: 3em; text-align: center;">Critères d'évaluation</th>
                        <th>Pondération</th>
                        <th id="note" style="text-align: center;">Note</th>
                    </tr> 
                </thead>
                <tbody>
                    <tr style="border-style: solid;">
                        <th style="background-color: #007bff; text-align: left;border-bottom-style: solid;" >Exposé oral par le candidat</th>
                        <td style="border-style: solid;"></td>
                        <td style="border-style: solid;"></td>
                    </tr>
                    <tr>
                        <th style="border-bottom-style: solid; text-align: left;">Cohérence et rigueur de l’exposé<ul><li>présentation du candidat</li><li>annonce du plan</li><li>respect du plan</li><li>pertinence et synthèse du  choix des information</li></ul></th>
                        <td style="border-style: solid;"></td>
                        <td style="border-style: solid;"></td>
                    </tr>
                    <tr>
                        <th style="border-top-style: solid;border-bottom-style: solid;text-align: left;">Qualité de l'expression<ul><li>n’effectue pas la lecture de son dossier</li><li>utilise des notes</li><li>guide le jury dans l’utilisation du dossier</li><li> qualité du comportement  non verbal</li><li> ton, dynamisme, élocution</li></ul></th>
                        <td style="border-style: solid;"></td>
                        <td style="border-style: solid;"></td>
                    </tr>
                    <tr>
                        <th style="border-bottom-style: solid;text-align: left;">Utilisation des supports adaptés aux contenus à présenter<ul><li> mise en œuvre du vidéo projecteur, rétroprojecteur, tableau…</li></ul></th>
                        <td style="border-style: solid;"></td>
                        <td style="border-style: solid;"></td>
                    </tr>
                    <tr>
                        <th style="border-bottom-style: solid;text-align: left;">Présentation de l'entreprise<ul><li> situation économique et juridique de l’entreprise</li><li>situation du candidat dans l’entreprise</li></ul></th>
                        <td style="border-style: solid;"></td>
                        <td style="border-style: solid;"></td>
                    </tr>
                    <tr>
                        <th style="border-bottom-style: solid;text-align: left;">Présentation de l'étude de cas proposée dans le dossier de synthèse<ul><li>présentation de la problématique</li><li>argumentation de l’analyse</li><li>résultats obtenus</li><li>solution retenue</li></ul></th>
                        <td style="border-style: solid;"></td>
                        <td style="border-style: solid;"></td>
                    </tr>
                </tbody>
            </table>
            <div style="border-style: solid; width: 12em; text-align: left; margin-top: 0.5em; margin-bottom: 0.5em; padding-top: 0.5em; padding-bottom: 0.5em;">note proposée: </div>
        </div>

        <div>
            <table>
                <thead>
                    <th style="border-right-style: solid;">Observation de l'équipe pédagogique</th>
                    <th>Visa (Nom, Prénom, date, signature)</th>
                </thead>
                <tbody>
                    <tr style="border-style: solid;">
                        <td style="border-style: solid; height: 10em;"><span style="display: hidden;">t</span></td>
                        <td style="border-style: solid; height: 10em;"><span style="display: hidden;">t</span></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <h4>3ème partie de l’évaluation (coef. 1) :  exposé oral des travaux réalisés</h4>
        </div>

        <div>
            <p>Cette partie concerne l’évaluation de l’exposé du candidat effectué devant la commission d’évaluateurs, exposé qui prend appui sur le dossier de synthèse.Cet exposé reflète les activités significatives du travail réalisé en entreprise et plus particulièrement l’étude de cas, et permet, à travers celui-ci, d’évaluer la capacité du candidat à communiquer. </p>
        </div>

        <div>
            <table style="margin: auto; border-style: solid; padding-right: 0.5em;">
                <thead style=" display: table-row-group; background-color: #212529;">
                    <tr style="color: white;">
                        <th style="padding-right: 3em; text-align: center;">Critères d'évaluation</th>
                        <th>Pondération</th>
                        <th id="note" style="text-align: center;">Note</th>
                    </tr> 
                </thead>
                <tbody>
                    <tr style="border-style: solid;">
                        <th style="background-color: #007bff; text-align: left;border-bottom-style: solid;" >Exposé oral par le candidat</th>
                        <td style="border-style: solid;"></td>
                        <td style="border-style: solid;"></td>
                    </tr>
                    <tr>
                        <th style="border-bottom-style: solid; text-align: left;">Cohérence et rigueur de l’exposé<ul><li>présentation du candidat</li><li>annonce du plan</li><li>respect du plan</li><li>pertinence et synthèse du  choix des information</li></ul></th>
                        <td style="border-style: solid;"></td>
                        <td style="border-style: solid;"></td>
                    </tr>
                    <tr>
                        <th style="border-bottom-style: solid;border-bottom-style: solid;text-align: left;">Qualité de l'expression<ul><li>n’effectue pas la lecture de son dossier</li><li>utilise des notes</li><li>guide le jury dans l’utilisation du dossier</li><li> qualité du comportement  non verbal</li><li> ton, dynamisme, élocution</li></ul></th>
                        <td style="border-style: solid;"></td>
                        <td style="border-style: solid;"></td>
                    </tr>
                    <tr>
                        <th style="border-bottom-style: solid;text-align: left;">Utilisation des supports adaptés aux contenus à présenter<ul><li> mise en œuvre du vidéo projecteur, rétroprojecteur, tableau…</li></ul></th>
                        <td style="border-style: solid;"></td>
                        <td style="border-style: solid;"></td>
                    </tr>
                    <tr>
                        <th style="border-bottom-style: solid;text-align: left;">Présentation de l'entreprise<ul><li> situation économique et juridique de l’entreprise</li><li>situation du candidat dans l’entreprise</li></ul></th>
                        <td style="border-style: solid;"></td>
                        <td style="border-style: solid;"></td>
                    </tr>
                    <tr>
                        <th style="border-bottom-style: solid;text-align: left;">Présentation de l'étude de cas proposée dans le dossier de synthèse<ul><li>présentation de la problématique</li><li>argumentation de l’analyse</li><li>résultats obtenus</li><li>solution retenue</li></ul></th>
                        <td style="border-style: solid;"></td>
                        <td style="border-style: solid;"></td>
                    </tr>
                </tbody>
            </table>
            <div style="border-style: solid; width: 12em; text-align: left; margin-top: 0.5em; margin-bottom: 0.5em; padding-top: 0.5em; padding-bottom: 0.5em;">note proposée: </div>
        </div>

        <div>
            <table>
                <thead>
                    <th style="border-right-style: solid;">Observation de l'équipe pédagogique</th>
                    <th>Visa (Nom, Prénom, date, signature)</th>
                </thead>
                <tbody>
                    <tr style="border-style: solid;">
                        <td style="border-style: solid; height: 10em;"><span style="display: hidden;">t</span></td>
                        <td style="border-style: solid; height: 10em;"><span style="display: hidden;">t</span></td>
                    </tr>
                </tbody>
            </table>
        </div>

           <h4>Attestations de périodes de formation en milieu professionnel</h4>
        <div>
            <table style="text-align:left; border-style: solid;">
                <thead>
                    <th style="text-align: left; background-color:white; border-bottom-style: solid; ">Période N°:</th>
                </thead>
                <tbody>
                    <tr>
                        <th style="background-color:#007bff; ">Periode de la PFMP: </th>
                    </tr>
                    <tr>
                        <th style="height: 5em; border-bottom-style: solid;">du: 01/01/2019 au: 01/02/2019 </th>
                    </tr>
                    <tr>
                        <th style="background-color:#007bff;">L'élève: </th>
                    </tr>
                    <tr>
                        <th style="height: 1em;">Nom: </th>
                    </tr>
                    <tr>
                        <th style="height: 1em;">Prénom: </th>
                    </tr>
                    <tr>
                        <th style="height: 1em;">Classe: </th>
                    </tr>
                    <tr>
                        <th style="height: 1em; border-bottom-style: solid;">Année scolaire: </th>
                    </tr>
                    <tr>
                        <th style="background-color:#007bff;">L'entreprise</th>
                    </tr>
                    <tr>
                        <th style="height: 1em;">Nom:</th>
                    </tr>
                    <tr>
                        <th style="height: 1em;">Service:</th>
                    </tr>
                    <tr>
                        <th style="height: 1em;">Adresse:</th>
                    </tr>
                    <tr>
                        <th style="height: 1em;">Nom du reponsable:</th>
                    </tr>
                    <tr>
                        <th style="height: 1em; border-bottom-style: solid;">Nom du tuteur:</th>
                    </tr>
                    <tr>
                        <th style="background-color:#007bff;">Les soussignés, attestent que les activités développées par l’élève dans le compte – rendu d’activités correspondent à celles confiées durant sa période de formation dans l’entreprise.</th>
                    </tr>
                    <table style="border-left-style: solid; border-bottom-style: solid; border-right-style: solid;">
                        <thead>
                            <th style="width:50%;"> </th>
                            <th> </th>
                        </thead>
                        <tbody>
                            <tr>
                                <th style="border-right-style: solid; border-bottom-style: solid; text-align:left; height: 7em;">Visa de l'entreprise (nom et qualité du signataire, date, cachet de l'entreprise)</th>
                                <th><span style="display: hidden;">z</span></th>
                            </tr>
                            <tr>
                                <th style="border-right-style: solid; text-align:left;height: 7em;"> Visa du stagiaire (nom, date, signature)</th>
                                <th><span style="display: hidden;">z</span></th>
                            </tr>
                        </tbody>
                    </table>
                </tbody>
            </table>
        </div>
        
        <div>
            <h4>Récapitulatif des composantes de la sous-épreuve E31</h4>
        </div>
       
       <div>
            <table style="margin: auto; border-style: solid; padding-right: 0.5em; border-collapse: collapse;">
                <thead>

                        <tr id="recap-note" style="border-right-style: solid;">
                            <th style="padding-right: 3em; text-align: center; border-right-style: solid; border-bottom-style: solid;">1ère partie de l’évaluation : situations de travail effectuées en entreprise</th>
                            <th style=" border-bottom-style: solid; border-right-style: solid;">Pondération</th>
                            <th  id="note" style="padding-right: 1em; padding-left: 1em; text-align: center; border-bottom-style: solid; border-right-style: solid;">Note</th>
                        </tr> 

                        <tr id="recap-note">
                            <th style="padding-right: 3em; text-align: center; border-right-style: solid; border-bottom-style: solid;">ÉVALUATION DES ATTITUDES PROFESSIONNELLES DU STAGIAIRE</th>
                            <th style=" height: 4em; border-bottom-style: solid; border-right-style: solid;"></th>
                            <th style="padding-right: 1em; padding-left: 1em; text-align: center; border-bottom-style: solid; border-right-style: solid;"></th>
                        </tr> 

                        <tr id="recap-note">
                            <th style="padding-right: 3em; text-align: center; border-right-style: solid; border-bottom-style: solid;">2ème partie de l’évaluation : dossier de synthèse constitué par le candidat</th>
                            <th style=" border-bottom-style: solid; border-right-style: solid;">Pondération</th>
                            <th style="padding-right: 1em; padding-left: 1em; text-align: center; border-bottom-style: solid; border-right-style: solid;">Note</th>
                        </tr> 

                        <tr id="recap-note">
                            <th style="padding-right: 3em; text-align: center; border-right-style: solid; border-bottom-style: solid;">PRÉSENTATION ORALE ET ENTRETIEN</th>
                            <th style="height: 4em; border-bottom-style: solid; border-right-style: solid;"></th>
                            <th style="padding-right: 1em; padding-left: 1em; text-align: center; border-bottom-style: solid;"></th>
                        </tr> 

                        <tr id="recap-note">
                            <th style="padding-right: 3em; text-align: center; border-right-style: solid; border-bottom-style: solid;">3ème partie de l’évaluation :  exposé oral des travaux réalisés</th>
                            <th style=" border-bottom-style: solid; border-right-style: solid;">Pondération</th>
                            <th style="padding-right: 1em; padding-left: 1em; text-align: center; border-bottom-style: solid;">Note</th>
                        </tr> 

                        <tr id="recap-note">
                            <th style="padding-right: 3em; text-align: center; border-right-style: solid; border-bottom-style: solid;">PRÉSENTATION ORALE ET ENTRETIEN</th>
                            <th style="height: 4em; border-bottom-style: solid; border-right-style: solid;"></th>
                            <th style="padding-right: 1em; padding-left: 1em; text-align: center; border-bottom-style: solid;"></th>
                        </tr> 
                    </thead>
                </table>
            <div style="border-style: solid; width: 12em; text-align: left; margin-top: 0.5em; margin-bottom: 0.5em; padding-top: 0.5em; padding-bottom: 0.5em;">note proposée: </div>
            <div style="border-style: solid;">Cette attestation sera dupliquée et complétée pour chacune des périodes de PFMP réalisée par le candidat.</div>
        </div>
        
        <div>
            <table>
                <thead>
                    <th style="border-right-style: solid;">Observation de l'équipe pédagogique</th>
                    <th>Visa (Nom, Prénom, date, signature)</th>
                </thead>
                <tbody>
                    <tr style="border-style: solid;">
                        <td style="border-style: solid; height: 10em;"><span style="display: hidden;">t</span></td>
                        <td style="border-style: solid; height: 10em;"><span style="display: hidden;">t</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</html>