{% extends 'base.html.twig' %}

{% block title %}Edit Tp{% endblock %}

{% block body %}
    <h1>Edit Tp</h1>

    {{ include('back/tp/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_tp_index') }}">back to list</a>

    {{ include('back/tp/_delete_form.html.twig') }}
{% endblock %}
