{% extends 'base.html.twig' %}

{% block title %}Liste des TP{% endblock %}

{% block body %}
    <h1>Liste des TP</h1>

    <a href="{{ path('tp_new') }}">Create new</a>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        var listUrl = '{{ path('api_tps_list')|escape('js') }}';        
    </script>
    <script type="text/javascript" src="{{ asset("js/back/tpDatatable.js") }}"></script>
{% endblock %}