{% extends 'base.html.twig' %}

{% block title %}New Tp{% endblock %}

{% block body %}
    <h1>Create new Tp</h1>

    {{ include('back/tp/_form.html.twig') }}

    <a href="{{ path('tp_index') }}">back to list</a>
{% endblock %}
