{% extends 'base.html.twig' %}

{% block title %}Competence index{% endblock %}

{% block body %}
    <h1>Competence index</h1>

    <a href="{{ path('competence_new') }}">Create new</a>
    
    <table id="competence_list" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reference</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <a href="{{ path('back_admin_home') }}">retour</a>
{% endblock %}


{% block javascripts %}

    <script type="text/javascript">
        var listUrl = '{{ path('api_competences_list')|escape('js') }}';        
    </script>
    <script type="text/javascript" src="{{ asset("js/back/competenceDatatable.js") }}"></script>
{% endblock %}