{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex flex-column align-items-center mt-5">
            <h2>{{ 'Bienvenue'|upper }}</h2>
            <p>Espace d'évaluation des stages de terminale</p>
        </div>

        <div class="d-flex flex-column align-items-center mt-5">
            <h1 class="mb-3">CONNEXION UTILISATEUR</h1>
            <div class="col-md-6">

                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <label for="inputUsername" class="">Indiquez votre identifiant:</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
                    <label for="inputPassword" class="">Indiquez votre mot de passe:</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>

                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}

                    <button class="btn btn-lg btn-primary mt-3" type="submit">
                        Connexion
                    </button>
                </form>

            </div>  
        </div>
    </div>
{% endblock %}
