{% extends 'base.html.twig' %}

{% block title %}Student index{% endblock %}

{% block body %}
    <h1>Liste des élèves</h1>

    {{ include('/partials/__studentlist.html.twig') }}

    <a href="{{ path('student_new') }}">Create new</a>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var listUrl = '{{ path('students_list') }}';        
    </script>
    <script type="text/javascript" src="{{ asset("js/studentDatatable.js") }}"></script>
{% endblock %}
