{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Bienvenue sur l'espace d'évaluation des élèves</h1>
    <ul>
        <li><a href="{{ path('referent_index') }}">Voir les profs principaux</a></li>
    </ul>
</div>
{% endblock %}
