{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Bienvenue sur l'espace d'évaluation des élèves</h1>
    <ul>
        <li><a href="{{ path('student_index') }}">Liste des élèves</a></li>
        <li><a href="{{ path('bordee_index') }}">Rechercher par bordée</a></li>
    </ul>
</div>
{% endblock %}
