{% extends 'base.html.twig' %}

{% block title %}Modifier un TP{% endblock %}

{% block body %}
    <h1>Modifier un TP</h1>

    {{ include('tp/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tp_index') }}">back to list</a>

    {{ include('tp/_delete_form.html.twig') }}
{% endblock %}
