{% extends 'base.html.twig' %}

{% block title %}Importer une bordée{% endblock %}

{% block body %}

    <div class="container">

        <h1>Importer des élèves depuis un fichier excel</h1>

        <div class="card my-3">
            <div class="card-body">
                <p class="card-text text-right">
                    {{ include('front/student/_form.html.twig') }}
                </p>
            </div>
        </div>

        <a href="{{ path('back_admin_home') }}">Retour à l'interface administrateur</a>

    </div>

{% endblock %}

{% block javascripts %}

    <script>
        $('#students_spreadsheet').on('change',function(){
            //get the file name
            var fileName = $(this).val();
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        })
    </script>

{% endblock %}
