    
    
    <table id="students_list" class="table table-striped table-bordered">
        <thead>
            <tr id="filter">
                <td></td>
                <td></td>
                <td></td>
                {# <td></td>
                <td></td> #}
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Spécialisation</th>
                <th>Lycée</th>
                {# <th>SRM</th>
                <th>CIRFA</th> #}
                <th>Bordée</th>
                <th>Prof. principal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tfoot>

        </tfoot>
        <tbody>
        </tbody>
    </table>