    
    
    <table id="tps_list" class="table table-striped table-bordered">
        <thead>
            {# <tr id="filter">
                <td></td>
                <td></td>
                <td></td>

            </tr> #}
            <tr>
                <th>Intitulé</th>
                <th>Spécialisation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tfoot>

        </tfoot>
        <tbody>
        </tbody>
    </table>