<header>
    
    <div class="banner d-flex justify-content-center">
        <img src="{{ asset('/images/head_banner_pro_bis.png') }}" alt="banner" class="img-fluid">
    </div>
    {{ include('/partials/__navbar.html.twig') }}
</header>
