{% extends 'base.html.twig' %}

{% block title %}Srm index{% endblock %}

{% block body %}
    <h1>Srm index</h1>
    
    <a href="{{ path('admin_srm_new') }}">Create new</a>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        var listUrl = '{{ path('api_srms_list')|escape('js') }}';        
    </script>
    <script type="text/javascript" src="{{ asset("js/back/srmDatatable.js") }}"></script>
{% endblock %}