{% extends 'base.html.twig' %}

{% block title %}Ajouter une spécialisation{% endblock %}

{% block body %}
    <h1>Ajouter une spécialisation</h1>

    {{ include('front/specialisation/_form.html.twig') }}

    <a href="{{ path('specialisation_index') }}">retour</a>
{% endblock %}
