html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header{
    background-color: #011935;
}

#footer{
    border-top: 2px solid navy;
    flex-shrink: 0;
}

.content {
    flex: 1 0 auto;
    background-color: #e3e7ed;
}

.card {
    background-color: #ffffff;
    box-shadow: 0 7px 14px 0 rgba(59,64,94,0.1), 0 3px 6px 0 rgba(0,0,0,0.07);
}