{% extends 'base.html.twig' %}

{% block title %}Bac Pro MEI - Ajouter une compétence{% endblock %}

{% block body %}

    <div class="container">

        <h1>Créer une nouvelle Competence</h1>

        <div class="card my-3">
            <div class="card-body">
                <p class="card-text text-right">
                    {{ include('back/meicompetence/_form.html.twig') }}
                </p>
            </div>
        </div>

        <a href="{{ path('admin_mei_competence_index') }}">retour</a>

    </div>
{% endblock %}
