{% extends 'base.html.twig' %}

{% block title %}SN Task index{% endblock %}

{% block body %}
    <h1>Task index</h1>
    
    {#<a href="{{ path('admin_sn_task_new') }}">Créer un nouveau</a>#}
    
    <table id="sn_tasks_list" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Référence</th>
                <th>Intitulé</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <a href="{{ path('back_admin_home') }}">retour</a>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        var listUrl = '{{ path('api_sn_tasks_list')|escape('js') }}';
    </script>
    <script type="text/javascript" src="{{ asset("js/back/sntaskDatatable.js") }}"></script>
{% endblock %}