{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <h1>Bienvenue sur l'espace d'évaluation des élèves</h1>

    <div class="card-columns cc-sm-1 cc-md-2 cc-xxl-4 cc-xxxl-and-up-5 m-lg-5">
    
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Liste des élève</h5>
                <p class="card-text">Accéder à la liste de tous élèves</p>
                <p class="card-text text-right">
                    <a href="{{ path('student_index') }}" class="btn btn-lg btn-primary">Choisir</a>
                </p>
                
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Rechercher par bordée / classe</h5>
                <p class="card-text">Accéder à la liste des élèves par bordée et/ou classe</p>
                <p class="card-text text-right">
                    <a href="{{ path('bordee_index') }}" class="btn btn-lg btn-primary">Choisir</a>
                </p>
            </div>
        </div>

        {% if is_granted('ROLE_ADMIN') %}

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Administration</h5>
                <p class="card-text">Accéder à l'interface administrateur</p>
                <p class="card-text text-right">
                    <a href="{{ path('back_admin_home') }}" class="btn btn-lg btn-warning">Choisir</a>
                </p>
            </div>
        </div>

        {% endif %}

    </div>



{% endblock %}
