{% extends 'base.html.twig' %}

{% block title %}Referent index{% endblock %}

{% block body %}
    <h1>Referent index</h1>

    <table id="referents_list" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Civilité</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <a href="{{ path('referent_new') }}">Create new</a>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready( function () {
            $('#referents_list').DataTable({
                ajax: {
                    url: '{{ path('referents_list') }}',
                    dataSrc: ''
                },
                columns: [
                    { data:'id'},
                    { data:'gender'},
                    { 
                        data:'firstname',
                        render: function(data, type, row, meta){
                            data = '<a href="' + row.id + '">' + data + '</a>';
                            return data;
                        }
                        
                    },
                    {
                        data:'lastname',
                        render: function(data, type, row, meta){
                            data = '<a href="' + row.id + '">' + data + '</a>';
                            return data;
                        }
                    },
                    {
                        data: "id",
                        render: function(data, type, row, meta){
                            data = '<a href="' + row.id + '/edit"><i class="far fa-edit"></i>éditer</a>';
                            return data;
                        }
                    }
                ],
            });
        } );
    </script>
{% endblock %}