<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- start header -->
            <div class="row">
                <div class="col-md-12">
                    <!-- start title -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row justify-content-center">
                                <h1>Bilan entreprise Bac Pro MELEC</h1>
                            </div>
                            <div class="row justify-content-center">
                                <h3>Période du 14/01/2019 au 15/03/2019</h3>
                            </div>
                        </div>
                    </div>
                    <!-- end title -->

                    <br>

                    <!-- start student-part -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="d-flex flex-column">
                                        <strong>Apprenant</strong>
                                        <span>Nom/Prénom:</span>
                                        <span>Etablissement:</span>
                                        <span>Classe:</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="d-flex flex-column">
                                        <span>&nbsp;</span>
                                        <span>BILLET Rémi</span>
                                        <span>LP JOUFFROY D'ABBANS</span>
                                        <span>TPMELEC</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end student-part -->

                    <br>

                    <!-- start company-part -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="d-flex flex-column">
                                        <strong>Entreprise</strong>
                                        <span>Raison sociale/Nom de l'entreprise</span>
                                        <span>Domaine d'activité de l'entreprise</span>
                                        <span>Service</span>
                                        <span>Tuteur</span>
                                        <span>Fonction du tuteur</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end company-part -->

                    <br>

                    <!-- start file-list -->
                    <div class="row">
                        <div class="col-md-12">
                            <strong>Liste des fiches :</strong>
                            <em> -- Aucune fiche -- </em>
                        </div>
                    </div>
                    <!-- end file-list -->
                </div>
            </div>
            <!-- end header -->

            <!-- start body -->
            <div class="row">
                <div class="col-md-12">
                <!-- start C1-section -->
                <div class="row">
                    <div class="col-md-3">
                        <strong>Tâches</strong>
                        <div class="d-flex h-100 flex-column justify-content-center">
                            <strong>Préparation</strong>
                            <span>T 1-1/TA 1-1 : prendre connaissance du dossier relatif aux opérations à réaliser, le constituer pour une opération simple / prendre connaissance du dossier relatif aux opérations à réaliser dans leur environnement</span>
                            <span>T 1-2 : rechercher et expliquer les informations relatives aux opération et aux conditions d\'éxécution</span>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <table class="doc-border">
                            <thead>
                                <tr>
                                    <th><strong>Compétences</strong></th>
                                    <th>F</th>
                                    <th>A</th>
                                    <th>NE</th>
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>4</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td class="text"><strong>C1-C01 Analyser les conditions de l'opération et son context</strong></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="text">lorem ipsum some text lorem lorem lolre   lorem lorem lorem lorem lorem lorem lorem lorem lorem specialisation</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="text">lorem ipsum some text lorem lorem lolre   lorem lorem lorem lorem lorem lorem lorem lorem lorem specialisation</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="text">lorem ipsum some text lorem lorem lolre   lorem lorem lorem lorem lorem lorem lorem lorem lorem specialisation</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="text">lorem ipsum some text lorem lorem lolre   lorem lorem lorem lorem lorem lorem lorem lorem lorem specialisation</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="text">lorem ipsum some text lorem lorem lolre   lorem lorem lorem lorem lorem lorem lorem lorem lorem specialisation</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="text">lorem ipsum some text lorem lorem lolre   lorem lorem lorem lorem lorem lorem lorem lorem lorem specialisation</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="text">lorem ipsum some text lorem lorem lolre   lorem lorem lorem lorem lorem lorem lorem lorem lorem specialisation</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="text">lorem ipsum some text lorem lorem lolre   lorem lorem lorem lorem lorem lorem lorem lorem lorem specialisation</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="text">lorem ipsum some text lorem lorem lolre   lorem lorem lorem lorem lorem lorem lorem lorem lorem specialisation</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="text">lorem ipsum some text lorem lorem lolre   lorem lorem lorem lorem lorem lorem lorem lorem lorem specialisation</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="text">lorem ipsum some text lorem lorem lolre   lorem lorem lorem lorem lorem lorem lorem lorem lorem specialisation</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="text">lorem ipsum some text lorem lorem lolre   lorem lorem lorem lorem lorem lorem lorem lorem lorem specialisation</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="text">lorem ipsum some text lorem lorem lolre   lorem lorem lorem lorem lorem lorem lorem lorem lorem specialisation</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="text">lorem ipsum some text lorem lorem lolre   lorem lorem lorem lorem lorem lorem lorem lorem lorem specialisation</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end C1-section -->
                </div>
            </div>
            <!-- end body -->
        </div>
    </div>
</div>