<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- start header -->
            <div class="row">
                <div class="col-md-12">
                    <!-- start title -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row justify-content-center">
                                <h1>Bilan entreprise Bac Pro MELEC</h1>
                            </div>
                            <div class="row justify-content-center">
                                <h3>Période du 14/01/2019 au 15/03/2019</h3>
                            </div>
                        </div>
                    </div>
                    <!-- end title -->

                    <br>

                    <!-- start student-part -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="d-flex flex-column">
                                        <strong>Apprenant</strong>
                                        <span>Nom/Prénom:</span>
                                        <span>Etablissement:</span>
                                        <span>Classe:</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="d-flex flex-column">
                                        <span>&nbsp;</span>
                                        <span>BILLET Rémi</span>
                                        <span>LP JOUFFROY D'ABBANS</span>
                                        <span>TPMELEC</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end student-part -->

                    <br>

                    <!-- start company-part -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="d-flex flex-column">
                                        <strong>Entreprise</strong>
                                        <span>Raison sociale/Nom de l'entreprise</span>
                                        <span>Domaine d'activité de l'entreprise</span>
                                        <span>Service</span>
                                        <span>Tuteur</span>
                                        <span>Fonction du tuteur</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end company-part -->

                    <br>

                    <!-- start file-list -->
                    <div class="row">
                        <div class="col-md-12">
                            <strong>Liste des fiches :</strong>
                            <em> -- Aucune fiche -- </em>
                        </div>
                    </div>
                    <!-- end file-list -->
                </div>
            </div>
            <!-- end header -->
        </div>
    </div>



    {#<div class="d-flex justify-content-center align-items-between">
        <!-- start header -->
        <div class="d-flex justify-content-center align-items-center">
            <!-- start title -->
            <div class="d-flex flex-column align-items-center">
                <h1>Bilan entreprise Bac Pro MELEC</h1>
                <h3>Période du 14/01/2019 au 15/03/2019</h3>
            </div>
            <!-- end title -->
        </div>
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-column">
                <strong>Apprenant</strong>
                Nom/Prénom:
                Etablissement:
                Classe:
            </div>
            <div class="d-flex flex-column">
                &nbsp;
                BILLET Rémi
                LP JOUFFROY D'ABBANS
                TPMELEC
            </div>
        </div>
    </div>#}
</div>