<div class="row">
    <table class="sn-doc-table w-100">
        <tbody>
            <tr>
                <td></td>
                <td>
                    <img src="" alt="imagine me as an image">
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                {# 
                    no need to set the empty with a space char in all the td
                    it will affect the whole tr
                #}
                <td class="empty">&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td class="bg-light-gray" colspan="5">
                    <div class="d-flex justify-content-center upper">
                        <h4 class="bold w-50 text-center">baccalauréat professionnel système numériques</h4>
                    </div>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="empty">&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="empty">&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td class="no-padd">
                    <div class="d-flex align-items-center w-100 h-100 b-black">
                        t
                    </div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>