{% extends 'base.html.twig' %}

{% block title %}Modifier un TP{% endblock %}

{% block body %}
    <h1>Modifier un TP</h1>
    <div class="card my-3">
        <div class="card-body">
            <p class="card-text text-right">
                {{ include('front/tp/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
            </p>
        </div>
    </div>

    <a href="{{ path('tp_index') }}">retour</a>

    {{ include('front/tp/_delete_form.html.twig') }}
{% endblock %}