{% extends 'base.html.twig' %}

{% block title %}Créer un TP{% endblock %}

{% block body %}
    <h1>Créer un TP</h1>

    {{ include('front/tp/_form.html.twig') }}

    <a href="{{ path('tp_index') }}">retour</a>
{% endblock %}
