{% extends 'base.html.twig' %}

{% block title %}Tp{% endblock %}

{% block body %}
<h1>Tp</h1>

<div class="white_shadow--container scrollable py-3 px-2">
    <p>Elève: {{student.__toString}}</p>
    <form action="" method="POST">
        {# {{ dump(tp) }} #}
        {% if tp.specialisation.name == 'SN' %}
            {% include('/front/tp/_sntpevaluate.html.twig') %}
        {% elseif tp.specialisation.name == 'MELEC' %}
            {% include('/front/tp/_melectpevaluate.html.twig') %}
        {% elseif tp.specialisation.name == 'MEI' %}
            {% include('/front/tp/_meitpevaluate.html.twig') %}
        {% else %}
            <p>Le TP n'appartient pas à une spécialisation valide. Veuillez contacter le responsable.</p>
        {% endif %}
        <div class="text-right">
            <button type="submit" class="btn btn-lg btn-primary">Envoyer</button>
        </div>
    </form>

</div>

<a href="{{ path('student_tp_list', {"id": student.id}) }}" class="">retour</a>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/clickable.js') }}"></script>
{% endblock %}
