{% extends 'base.html.twig' %}

{% block title %}Modifier un lycée{% endblock %}

{% block body %}
    <h1>Modifier un lycée</h1>

    {{ include('front/school/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('school_index') }}">retour</a>

    {{ include('front/school/_delete_form.html.twig') }}
{% endblock %}
