{% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}

{% block body %}
    <h1>Task index</h1>
    
    <a href="{{ path('admin_task_new') }}">Create new</a>
    
    <table id="tasks_list" class="table">
        <thead>
            <tr>
                <th>Référent</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <a href="{{ path('back_admin_home') }}">retour</a>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        var listUrl = '{{ path('api_tasks_list')|escape('js') }}';        
    </script>
    <script type="text/javascript" src="{{ asset("js/back/taskDatatable.js") }}"></script>
{% endblock %}