{% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}

{% block body %}
    <h1>Task index</h1>
    
    <a href="{{ path('admin_task_new') }}">Create new</a>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        var listUrl = '{{ path('api_tasks_list')|escape('js') }}';        
    </script>
    <script type="text/javascript" src="{{ asset("js/back/taskDatatable.js") }}"></script>
{% endblock %}