{% extends 'base.html.twig' %}

{% block title %}School index{% endblock %}

{% block body %}
    <h1>Liste des écoles</h1>
    
    <div class="text-right">
        <button class="btn btn-primary m-bot-10">
            <i class="fas fa-plus"></i>
            <a class="text-white" href="{{ path('admin_school_new') }}">Ajouter une école</a>
        </button>
    </div>

    <table id="schools_list" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Numéro</th>
                <th>Email</th>
                <th>Académie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <a href="{{ path('back_admin_home') }}">retour</a>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        var listUrl = '{{ path('api_schools_list')|escape('js') }}';     
    </script>
    <script type="text/javascript" src="{{ asset("js/back/schoolDatatable.js") }}"></script>
{% endblock %}