{% extends 'base.html.twig' %}

{% block title %}New School{% endblock %}

{% block body %}
    <h1>Create new School</h1>

    {{ include('back/school/_form.html.twig') }}

    <a href="{{ path('admin_school_index') }}">back to list</a>
{% endblock %}
