{% extends 'base.html.twig' %}

{% block title %}New Cirfa{% endblock %}

{% block body %}
    <h1>Create new Cirfa</h1>

    {{ include('cirfa/_form.html.twig') }}

    <a href="{{ path('cirfa_index') }}">back to list</a>
{% endblock %}
