{% extends 'base.html.twig' %}

{% block title %}Modifier une tâche{% endblock %}

{% block body %}
    <h1>Modifier une tâche</h1>

    {{ include('front/task/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('task_index') }}">retour</a>

    {{ include('front/task/_delete_form.html.twig') }}
{% endblock %}
