{% extends 'base.html.twig' %}

{% block title %}Edit task{% endblock %}

{% block body %}
    <h1>Edit task</h1>

    {{ include('front/task/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('task_index') }}">retour</a>

    {{ include('front/task/_delete_form.html.twig') }}
{% endblock %}
