{% extends 'base.html.twig' %}

{% block title %}Ajouter une nouvelle tâche{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle tâche</h1>

    {{ include('front/task/_form.html.twig') }}

    <a href="{{ path('task_index') }}">retour</a>
{% endblock %}
