{% extends 'base.html.twig' %}

{% block title %}New task{% endblock %}

{% block body %}
    <h1>Create new task</h1>

    {{ include('front/task/_form.html.twig') }}

    <a href="{{ path('task_index') }}">back to list</a>
{% endblock %}
