<div class="card-columns cc-sm-1 cc-md-2">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Gérer les tâches</h5>
            <p class="card-text">Accéder à la listes des tâches</p>
            <p class="card-text text-right">
                <a href="{{ path('admin_' ~ specialisation.name | lower ~ '_task', { 'id': specialisation.id }) }}" class="btn btn-lg btn-primary">Choisir</a>
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Gérer les compétences</h5>
            <p class="card-text">Accéder à la listes des compétences</p>
            <p class="card-text text-right">
                <a href="{{ path('admin_' ~ specialisation.name | lower ~ '_competence', { 'id': specialisation.id }) }}" class="btn btn-lg btn-primary">Choisir</a>
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Travaux Pratiques</h5>
            <p class="card-text">Gérer / modifier les TPs</p>
            <p class="card-text text-right">
                <a href="{{ path('tp_index', { 'id': specialisation.id }) }}" class="btn btn-lg btn-primary">Choisir</a>
            </p>
        </div>
    </div>
</div>