{% extends 'base.html.twig' %}

{% block title %}Modifier une spécialisation{% endblock %}

{% block body %}

    <div class="container">

        <h1>Modifier une Spécialisation</h1>

        <div class="card my-3">
            <div class="card-body">
                <p class="card-text text-right">
                    {{ include('back/specialisation/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                </p>
            </div>
        </div>

        {% if specialisation.name != "MEI" %}
            {{ include('back/specialisation/_cards.html.twig') }}
        {% else %}
            <div> en cours de création </div>
        {% endif %}

        <a href="{{ path('admin_specialisation_index') }}">retour à la liste</a>

    </div>
{% endblock %}
