{% extends 'base.html.twig' %}

{% block title %}Edit Specialisation{% endblock %}

{% block body %}

    <div class="container">

        <h1>Editer une Spécialisation</h1>

        <div class="card my-3">
            <div class="card-body">
                <p class="card-text text-right">
                    {{ include('back/specialisation/_form.html.twig', {'button_label': 'Update'}) }}
                </p>

                <p class="card-text text-right">
                    {{ include('back/specialisation/_delete_form.html.twig') }}
                </p>
            </div>
        </div>

        <a href="{{ path('admin_specialisation_index') }}">retour à la liste</a>

    </div>
{% endblock %}
