{% extends 'base.html.twig' %}

{% block title %}Ajouter une spécialisation{% endblock %}

{% block body %}

    <div class="container">

        <h1>Ajouter un spécialisation</h1>

        <div class="card my-3">
            <div class="card-body">
                <p class="card-text text-right">
                    {{ include('back/specialisation/_form.html.twig') }}
                </p>
            </div>
        </div>

        <a href="{{ path('admin_specialisation_index') }}">retour</a>

    </div>

{% endblock %}
