{% extends 'base.html.twig' %}

{% block title %}Edit Referent{% endblock %}

{% block body %}
    <h1>Edit Referent</h1>

    {{ include('back/referent/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('referent_index') }}">back to list</a>

    {{ include('back/referent/_delete_form.html.twig') }}
{% endblock %}
