{% extends 'base.html.twig' %}

{% block title %}Referent index{% endblock %}

{% block body %}
    <h1>Referent index</h1>
    
    <a href="{{ path('admin_referent_new') }}">Create new</a>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        var listUrl = '{{ path('api_referents_list')|escape('js') }}';        
    </script>
    <script type="text/javascript" src="{{ asset("js/back/referentDatatable.js") }}"></script>
{% endblock %}