{% extends 'base.html.twig' %}

{% block title %}Liste des élèves{% endblock %}

{% block body %}
    <h1>Liste des élèves</h1>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var listUrl = '{{ path('api_students_list')|escape('js') }}';        
    </script>
    <script type="text/javascript" src="{{ asset("js/back/studentDatatable.js") }}"></script>
{% endblock %}
