{% extends 'base.html.twig' %}

{% block title %}Modifier une bordée{% endblock %}

{% block body %}

    <div class="container">

        <h1>Modifier une Bordée</h1>

        <div class="card my-3">
            <div class="card-body">
                <p class="card-text text-right">
                    {{ include('back/bordee/_form.html.twig', {'button_label': 'Update'}) }}
                </p>

                <p class="card-text text-right">
                    {{ include('back/bordee/_delete_form.html.twig') }}
                </p>
            </div>
        </div>

        <a href="{{ path('admin_bordee_index') }}">retour à la liste</a>
    </div>
{% endblock %}
