{% extends 'base.html.twig' %}

{% block title %}Edit Bordee{% endblock %}

{% block body %}
    <h1>Edit Bordee</h1>

    {{ include('back/bordee/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_bordee_index') }}">back to list</a>

    {{ include('back/bordee/_delete_form.html.twig') }}
{% endblock %}
