{% extends 'base.html.twig' %}

{% block title %}Bordee index{% endblock %}

{% block body %}
    <h1>Bordee index</h1>

    <a href="{{ path('admin_bordee_new') }}">Create new</a>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        var listUrl = '{{ path('api_bordees_list')|escape('js') }}';        
    </script>
    <script type="text/javascript" src="{{ asset("js/back/bordeeDatatable.js") }}"></script>
{% endblock %}