{% extends 'base.html.twig' %}

{% block title %}Bordee index{% endblock %}

{% block body %}
    <h1>Bordee index</h1>

    <a href="{{ path('admin_bordee_new') }}">Create new</a>

    <button class="btn btn-primary">importer une bordée</button>

    <table id="bordee_list" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tfoot>

        </tfoot>
        <tbody>
        </tbody>
    </table>

    <a href="{{ path('back_admin_home') }}">retour</a>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        var listUrl = '{{ path('api_bordees_list')|escape('js') }}';        
    </script>
    <script type="text/javascript" src="{{ asset("js/back/bordeeDatatable.js") }}"></script>
{% endblock %}