{% extends 'base.html.twig' %}

{% block title %}New Bordee{% endblock %}

{% block body %}
    <h1>Create new Bordee</h1>

    {{ include('ack/bbordee/_form.html.twig') }}

    <a href="{{ path('admin_bordee_index') }}">back to list</a>
{% endblock %}
