{% extends 'base.html.twig' %}

{% block title %}Modifier un CIRFA{% endblock %}

{% block body %}

    <div class="container">

        <h1>Editer un Cirfa</h1>

        <div class="card my-3">
            <div class="card-body">
                <p class="card-text text-right">
                    {{ include('back/cirfa/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                </p>

                <p class="card-text text-right">
                    {{ include('back/cirfa/_delete_form.html.twig') }}
                </p>
            </div>
        </div>

        <a href="{{ path('admin_cirfa_index') }}">retour à la liste</a>

    </div>

{% endblock %}
