{% extends 'base.html.twig' %}

{% block title %}Cirfa index{% endblock %}

{% block body %}
    <h1>Cirfa index</h1>
    
    <a href="{{ path('admin_cirfa_new') }}">Create new</a>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        var listUrl = '{{ path('api_cirfas_list')|escape('js') }}';        
    </script>
    <script type="text/javascript" src="{{ asset("js/back/cirfaDatatable.js") }}"></script>
{% endblock %}